.t-primaryClear {
  @apply text-primaryClear dark:text-white;
}

.t-primary {
  @apply text-primary dark:text-white;
}

.t-dark {
  @apply text-primaryDark;
}

.t-block-title {
  @apply font-heading text-40 mb-20;
}

.ui-small-title {
  @apply font-heading text-12;
}

.ui-page-block {
  @apply py-16 -mt-16 border-t border-l border-r border-white;
  background: linear-gradient(
    -180deg,
    #faf3ff 0,
    rgba(143, 0, 255, 0.05) 50%,
    rgba(143, 0, 255, 0.05) 100%
  );
  border-radius: 64px 64px 0 0;
  &.FooterIndex {
    @apply bg-primaryClearBg;
    margin: 0;
    padding: 0;
  }

  &.auth {
    @apply border-b;
    overflow: hidden;
    z-index: -1;
    border-top: none;
    margin-top: unset;
    border-radius: 0 0 64px 64px;
    background: radial-gradient(
      34.95% 26.94% at 67.14% 73.62%,
      #faf3ff 0%,
      rgba(250, 243, 255, 0) 100%
    );
    height: 645px;
    width: calc(100vw - 18px);
    overflow: hidden;
    margin-bottom: -645px;
  }

  html.dark & {
    background: linear-gradient(0deg, rgba(22, 22, 22, 0) 0%, #161616 50%);
    border-color: #474649;
  }
}

.secondary_button_icon path {
  fill: #9D69DE;
  transition: fill 0.2s ease;
}

.secondary_button_label {
  transition: color 0.2s ease;
}

.outlined_button {
  background: #ffffff;
  border: 1px solid #c89cff;
  box-shadow: 0px 21px 21px rgba(55, 0, 99, 0.06), 0px -7px 37px #ffffff !important;

  html.dark & {
    border: 0px;
    box-shadow: 0px 21px 21px rgba(55, 0, 99, 0.06), 0px -7px 37px #121212 !important;
  }
}

.BaseButton:hover .secondary_button_icon path {
  fill: #fff;
}
.BaseButton:hover .secondary_button_label {
  color: #fff;
}

@layer base {
  .ui {
    &-glow-text {
      text-shadow: 0px -7px 37px #ffffff;
    }

    &-t-primaryClear {
      @apply text-primaryClear dark:text-white;
    }

    &-t-primary {
      @apply text-primary dark:text-white;
    }

    &-t-dark {
      @apply text-primaryDark dark:text-white;
    }
  }
}
