@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/AvenirNext/AvenirNextLTPro-Regular.otf');
  weight: 400;
  style: normal;
}

@font-face {
  font-family: 'Druk Wide Web';
  src: url('/fonts/DrukWideWeb/DrukWide-Bold-Reduced.woff.ttf');
  weight: 700;
  style: normal;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

#__next {
  height: 100%;
}
