.baseToggle {
  @apply transition;
  height: 34px;
  width: 64px;
  border-radius: 100px;
  background: white;
  cursor: pointer;
  flex-shrink: 0;
  &Item {
    @apply transition text-white;
    width: 30px;
    height: 30px;
    background: #C89CFF;
    border-radius: 100%;
    position: relative;
    left: 2px;
    top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Active {
    @apply bg-primary;

    .baseToggleItem {
      @apply bg-white;
      transform: translateX(30px);
    }
  }
}
