.hint {
  position: relative;
  height: 24px;
  cursor: pointer;
  &Content {
    @apply bg-white border border-2 border-white rounded-3xl bg-primaryClearBg rounded-3xl px-8 py-7 transition-transform;
    width: 300px;
    position: absolute;
   top: 100%;
    right: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
  }

  &:hover {
    .hintContent {
      opacity: 1;
      transform: translateY(10px);
    }
  }
}
