@tailwind utilities;

.baseButton {
  @apply font-sans text-white relative cursor-pointer flex items-center justify-center py-3 transition-all;
  font-size: 16px;
  line-height: 1.31;
  background: linear-gradient(360deg, #7e1aff 0%, #9f24ff 50%);
  box-shadow: 0 20px 35px rgba(55, 0, 99, 0.2);
  border-radius: 16px;

  $border: 2px;
  background-clip: padding-box !important;
  border: solid $border transparent;

  font-weight: 700;
  line-height: 24px;

  gap: 10px;
  height: 55px;
  span {
    // position: relative;     // this was the real problem with button title 🥲
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    top: 2px;
  }

  &.baseButtonDisabled {
    @apply text-primary;
    opacity: 0.5;
    background: transparent;
    pointer-events: none;
    border: 1px solid #9f24ff;
    &::before {
      opacity: 0;
    }
    & svg path {
      fill: theme('colors.primary');
    }
  }

  & .frame {
    @apply transition-opacity;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    margin: calc(-0.3px - $border);
    background-clip: padding-box !important;
    border: solid $border transparent; /* !importanté */
    border-radius: inherit;
    background: linear-gradient(360deg, #9f24ff 0%, #7e1aff 50%);
  }

  &::before {
    content: ' ';
    @apply transition-opacity;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(360deg, #9f24ff 0%, #7e1aff 50%);
  }

  &::after {
    content: ' ';
    @apply transition-opacity;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(360deg, #7e1aff 0%, #9f24ff 50%);
  }

  &.baseButtonSmall {
    @apply pt-2 pb-1.5;
    font-size: 12px;
    height: auto;
    border-radius: 8px;
    span {
      top: 0;
    }
  }

  &.baseButtonXSmall {
    padding: 3px 16px 0;
    font-size: 12px;
    height: auto;
    border-radius: 8px;
    span {
      top: 0;
    }
  }

  &.baseButtonMedium {
    @apply h-11;

    border-radius: 12px;
    font-size: 16px;
    line-height: 19px;
  }

  &.baseButtonInline {
    @apply inline-flex;
  }

  &Icon {
    @apply transition-all;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) !important;
    z-index: 1;
    &Solid {
      opacity: 0;
    }
  }

  &White {
    @apply text-primary;
    background: white;

    &:hover {
      @apply text-white border border-white;
      background: transparent;
    }
  }

  &Type {
    &__secondary {
      @apply text-primaryClear;
      background: white;

      &::before,
      &::after {
        background: white;
      }

      & .frame {
        margin: -3.5px;
      }

      & svg path {
        fill: theme('colors.primaryClear');
      }

      &:hover {
        @apply text-white;
        & svg path {
          fill: white;
        }
      }
    }
  }

  &:hover {
    &::after {
      opacity: 1;
    }
    .frame {
      opacity: 1;
    }

    .baseButtonIcon {
      &Solid {
        opacity: 1;
      }

      &Outline {
        opacity: 0;
      }
    }
  }
}

:global(.dark) {
  .baseButton {
    background: #2c2a30;

    &Type {
      &__secondary {
        &::before,
        &::after {
          background: #2c2a30;
        }

        & svg:not(:global(.twitter_fill), :global(.google_fill)) {
          path {
            fill: theme('colors.primaryClear');
          }
        }
      }
    }

    &.baseButtonDisabled {
      @apply text-white;
    }

    &:hover svg path {
      fill: white;
    }
  }
}
