.option {
  width: 100%;
  height: 64px;
  padding: 0 16px;
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: transform ease 300ms;
  background-color: #8f00ff;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(4px, 4px, 0px);
    color: #fff;
    background-color: #000;
  }

  &.active {
    border-color: rgb(109, 186, 252);
  }
}

.header {
  font-weight: 500;
  font-size: 16px;
  color: inherit;
}

.icon {
  height: 24px;
}

.text {
  font-size: 16px;
  color: #000;
  padding-bottom: 24px;
  text-align: center;
}

.switchBtn {
  width: 100%;
  height: 64px;
  padding: 0 16px;
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform ease 300ms;
  text-align: center;

  &:hover {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(4px, 4px, 0px);
    color: #fff;
    background-color: #000;
  }
}
